{# cac_prestadors/templates/pagina_prestador_serveis.html.twig #}
{% if dades %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>{{ titol }}</h2></div>
            <div class="panel-body">
                <p>{{ descripcio }}</p>
            </div>
            </div>
         
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    {% set num_servei=1 %}
                    {% for dada in dades %}
                        <tr>
                            <td>Canal / Servei {{num_servei}}</td>
                        </tr>
                        <tr>
                            <td class="">denominació comercial</td>
                            <td class="">{{ dada['nomComercial'] }}</td>
                        </tr>
                        <tr>
                            <td class="">descripció</td>
                            <td class="">{{ dada['descripcio'] }}</td>
                        </tr>
                        <tr>
                            <td class="">Fecha Inicio Emision</td>
                            <td class="">{{ dada['iniciComput'] }}</td>
                            <td class="">Fecha fin Emision</td>
                            <td class="">{{ dada['finalComput'] }}</td>
                            <td class="">Idioma</td>
                            <td class="">{{ dada['Idiomes'] }}</td>
                        </tr>
                    {% set num_servei=num_servei + 1 %}  
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endif %}