{# cac_prestadors/templates/pagina_persones_llistat.html.twig #}

<h2>{{ titulo }}</h2>
<p>{{ descripcion }}</p>
<hr/>

{% if dades %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Persones</div>
            <div class="panel-body">
                <p>Taula que mostra dades</p>
            </div>
            </div>
         
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    {% for dada in dades %}
                            <tr>
                                <td>{{ dada['id'] }}</td>   
                                <td class="text-right">{{ dada['nom'] }}</td>
                                <td class="text-right">{{ dada['pob'] }}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endif %}