{# cac_prestadors/templates/pagina_prestador_fitxa.html.twig #}
{% if dades %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>{{ titol }}</h2></div>
            <div class="panel-body">
                <p>{{ descripcio }}</p>
            </div>
            </div>
         
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    {% for dada in dades %}
                    <tr>
                        <td>Datos del prestador: {{ dada['idPrestador'] }}</td>
                    </tr>
                    <tr>
                        <td class="">NIF:</td>
                        <td class="">{{ dada['nif'] }}</td>
                        <td class="">Razón social:</td>
                        <td class="">{{ dada['denominacioSocial'] }}</td>
                    </tr>
                    <tr>
                        <td>Dades domicili social</td>
                    </tr>
                    <tr>
                        <td class="">Tipo Vía</td>
                        <td class="">{{ dada['tipusVia'] }}</td>
                        <td class="">Nombre Vía</td>
                        <td class="">{{ dada['nomVia'] }}</td>
                        <td class="">Código Postal</td>
                        <td class="">{{ dada['codiPostal'] }}</td>
                        <td class="">Pais</td>
                        <td class="">{{ dada['nacionalitat'] }}</td>
                    </tr>
                    <tr>
                        <td class="">Numero</td>
                        <td class="">{{ dada['numero'] }}</td>
                        <td class="">Escala</td>
                        <td class="">{{ dada['escala'] }}</td>
                        <td class="">Pis</td>
                        <td class="">{{ dada['pis'] }}</td>
                        <td class="">Porta</td>
                        <td class="">{{ dada['porta'] }}</td>
                    </tr>
                    <tr>
                        <td class="">Provincia</td>
                        <td class="">{{ dada['provincia'] }}</td>
                        <td class="">Municipi</td>
                        <td class="">{{ dada['municipi'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endif %}

