{{ attach_library('cac_prestadors/cac') }}

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Info')" id="defaultOpen">Info</button>
  <button class="tablinks" onclick="openTab(event, 'Participacions')">Participacions</button>
  <button class="tablinks" onclick="openTab(event, 'Decisions')">Decisions</button>
  <button class="tablinks" onclick="openTab(event, 'Govern')">Organs Govern</button>
  <button class="tablinks" onclick="openTab(event, 'Serveis')">Llista Serveis</button>
</div>

<div id="Info" class="tabcontent info" style="display: block;">
    {% block info %}

    <div class="panel-heading"><h2>{{ titol_inf }}</h2></div>
    <div class="panel-body"><p>{{ descripcio_inf }}</p></div>
    <div style="overflow-x:auto;">
        <table class="cac">
            <tbody>
                {% for dada in dades_inf %}
                <tr>
                    <th colspan="8">Datos del prestador: {{ dada['idPrestador'] }}</td>
                </tr>
                <tr>
                    <th>NIF:</td>
                    <td>{{ dada['nif'] }}</td>
                    <th>Razón social:</td>
                    <td colspan="5">{{ dada['denominacioSocial'] }}</td>
                </tr>
                <tr>
                    <th colspan="8">Dades domicili social</td>
                </tr>
                <tr>
                    <th>Tipo Vía</td>
                    <td>{{ dada['tipusVia'] }}</td>
                    <th>Nombre Vía</td>
                    <td>{{ dada['nomVia'] }}</td>
                    <th>Código Postal</td>
                    <td>{{ dada['codiPostal'] }}</td>
                    <th>Pais</td>
                    <td>{{ dada['nacionalitat'] }}</td>
                </tr>
                <tr>
                    <th>Numero</td>
                    <td>{{ dada['numero'] }}</td>
                    <th>Escala</td>
                    <td>{{ dada['escala'] }}</td>
                    <th>Pis</td>
                    <td>{{ dada['pis'] }}</td>
                    <th>Porta</td>
                    <td>{{ dada['porta'] }}</td>
                </tr>
                <tr>
                    <th>Provincia</td>
                    <td>{{ dada['provincia'] }}</td>
                    <th>Municipi</td>
                    <td colspan="5">{{ dada['municipi'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}
  
</div>

<div id="Participacions" class="tabcontent">
    {% block participacions %}
    <div class="panel-heading"><h2>{{ titol_par }}</h2></div>
    <div class="panel-body"><p>{{ descripcio_par }}</p></div>
    <div style="overflow-x:auto;">
        <table class="cac">
                <thead>
                    <tr>
                        <th colspan="4">Titular de participacions directes i indirectes</td>
                    </tr>
                    <tr>
                        <th>Nom / Raó Social</td>
                        <th>%</td>
                        <th>Data</td>
                        <th>Tipus Participació</td>
                    </tr>
                <thead>
                <tbody>
                    {% for dada in dades_par %}
                    <tr>
                        <td>{{ dada['nomaccionista'] }}</td>
                        <td>{{ dada['participacio'] }} % </td>
                        <td>{{ dada['data'] }}</td>
                        <td>{{ dada['tipusParticipacio'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    {% endblock %}
</div>

<div id="Decisions" class="tabcontent">
    {% block decisions %}
    <div class="panel-heading"><h2>{{ titol_dec }}</h2></div>
    <div class="panel-body"><p>{{ descripcio_dec }}</p></div>
    <div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <td>Actes i negocis jurídics sobre la llicència</td>
                </tr>
            <thead>
            <tbody>
                {% for dada in dades_dec %}
                <tr>
                    <td class="">{{ dada['decisions'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</div>

<div id="Govern" class="tabcontent">
    {% block govern %}
    <div class="panel-heading"><h2>{{ titol_org }}</h2></div>
    <div class="panel-body"><p>{{ descripcio_org }}</p></div>
    <div>
        <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td>Òrgan d'administració</td>
                    </tr>
                    <tr>
                        <td>Nom</td>
                        <td>Carrec</td>
                        <td>Data Nomenament</td>
                    </tr>
                <thead>
                <tbody>
                    {% for dada in dades_org %}
                    <tr>
                        <td class="">{{ dada['nom'] ~ dada['primerCognom'] ~ dada['segonCognom']}}</td>
                        <td class="">{{ dada['carrec'] }}</td>
                        <td class="">{{ dada['dataAny'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    {% endblock %}
</div>
<div id="Serveis" class="tabcontent">
    {% block serveis %}
    <div class="panel-heading"><h2>{{ titol_llist }}</h2></div>
    <div class="panel-body"><p>{{ descripcio_llist }}</p></div>
    <div>
        <table class="table table-bordered table-striped table-hover">
            <tbody>
                {% set num_servei=1 %}
                {% for dada in dades_llist %}
                    <tr>
                        <td>Canal / Servei {{num_servei}}</td>
                    </tr>
                    <tr>
                        <td class="">denominació comercial</td>
                        <td class="">{{ dada['nomComercial'] }}</td>
                    </tr>
                    <tr>
                        <td class="">descripció</td>
                        <td class="">{{ dada['descripcio'] }}</td>
                    </tr>
                    <tr>
                        <td class="">Fecha Inicio Emision</td>
                        <td class="">{{ dada['iniciComput'] }}</td>
                        <td class="">Fecha fin Emision</td>
                        <td class="">{{ dada['finalComput'] }}</td>
                        <td class="">Idioma</td>
                        <td class="">{{ dada['Idiomes'] }}</td>
                    </tr>
                {% set num_servei=num_servei + 1 %}  
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</div>