{# cac_prestadors/templates/pagina_prestador_decisions.html.twig #}
{% if dades %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>{{ titol }}</h2></div>
            <div class="panel-body">
                <p>{{ descripcio }}</p>
            </div>
            </div>
         
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td>Actes i negocis jurídics sobre la llicència</td>
                    </tr>
                <thead>
                <tbody>
                    {% for dada in dades %}
                    <tr>
                        <td class="">{{ dada['decisions'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endif %}