{# cac_prestadors/templates/pagina_prestador_prestacions.html.twig #}
{% if dades %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>{{ titol }}</h2></div>
            <div class="panel-body">
                <p>{{ descripcio }}</p>
            </div>
            </div>
         
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td>Titular de participacions directes i indirectes</td>
                    </tr>
                    <tr>
                        <td>Nom / Raó Social</td>
                        <td>%</td>
                        <td>Data</td>
                        <td>Tipus Participació</td>
                    </tr>
                <thead>
                <tbody>
                    {% for dada in dades %}
                    <tr>
                        <td class="">{{ dada['nomaccionista'] }}</td>
                        <td class="">{{ dada['participacio'] }} % </td>
                        <td class="">{{ dada['data'] }}</td>
                        <td class="">{{ dada['tipusParticipacio'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endif %}