{# cac_prestadors/templates/pagina_prestador_govern.html.twig #}
{% if dades %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>{{ titol }}</h2></div>
            <div class="panel-body">
                <p>{{ descripcio }}</p>
            </div>
            </div>
         
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td>Òrgan d'administració</td>
                    </tr>
                    <tr>
                        <td>Nom</td>
                        <td>Carrec</td>
                        <td>Data Nomenament</td>
                    </tr>
                <thead>
                <tbody>
                    {% for dada in dades %}
                    <tr>
                        <td class="">{{ dada['nom'] ~ dada['primerCognom'] ~ dada['segonCognom']}}</td>
                        <td class="">{{ dada['carrec'] }}</td>
                        <td class="">{{ dada['dataAny'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endif %}