{# cacPrestadorsLlistat/templates/pagina_prestador_fitxa.html.twig #}
{% if dades %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>{{ titol }}</h2></div>
            <div class="panel-body">
                <p>{{ descripcio }}</p>
            </div>
            </div>
         
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    {% for dada in dades %}
                    <tr>
                        <td>{{ dada['id'] }}</td>   
                        <td class="text-right">{{ dada['nom'] }}</td>
                        <td class="text-right">{{ dada['pob'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endif %}