{# cacPrestadorsLlistat/templates/pagina_prestadors_llistat.html.twig #}
{{ attach_library('cacPrestadorsLlistat/cac') }}
{% if dades %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ titol }}</b></div>
            <div class="panel-body">
                {{ formulari }}
            </div>
        </div>
         
        <table class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr>
                        <th class="cac_header1">Nom / Denominació Social</th>   
                        <th class="text-right cac_header1">Personalitat</th>
                        <th class="text-right cac_header1">NIF/CIF</th>
                        <th class="cac_header1">Serveis</th>   
                        <th class="cac_header1"> +Info </th>   
                    </tr>   
                    
                    {% for dada in dades %}
                        <tr>
                            <td class="text-right cac_row{% if loop.index is divisibleby(2) %}1{% else %}2{% endif %}">{{ dada['denominacioSocial'] }}</td>
                            <td class="cac_row{% if loop.index is divisibleby(2) %}1{% else %}2{% endif %}">{{ dada['tipusPersonalitat'] }}</td>   
                            <td class="text-right cac_row{% if loop.index is divisibleby(2) %}1{% else %}2{% endif %}">{{ dada['nif'] }}</td>
                            <td class="cac_row{% if loop.index is divisibleby(2) %}1{% else %}2{% endif %}">{{ dada['Serveis'] }}</td>   
                            <td class="cac_row{% if loop.index is divisibleby(2) %}1{% else %}2{% endif %}"><a href="/prestador/fitxa/{{ dada['idPrestador'] }}" onclick="f1({{ dada['idPrestador'] }})">Dades</a></td>   
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
{% endif %}